<% include ./partials/header %>

<body>

<!-- Following Menu -->
<% include ./partials/menu/following %>


<% include ./partials/menu/sidebar %>


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical  center aligned segment">
    <% include ./partials/menu/inside %>



    <div class="ui text container">
      <h1 class="ui inverted header">
        Keranjang belanja kamu
      </h1>
      <br>
    </div>

  </div>

  <div class="ui vertical stripe segment">
    <div class="ui middle center stackable grid container">


      <div class="row">
        <div class="ui link cards">


          <div class="ui items">
            <% useritem.forEach(function(item){ %>

          <div class="item">
            <div class="ui small image">
              <img src="<%= item.pictlink %>">
            </div>
            <div class="content">
              <div class="header"><%= item.name %></div>
              <div class="meta">
                <span class="price"><%= item.price %></span>
              </div>
              <div class="description">
                <p><%= item.description %> </p>
              </div>
            </div>
          </div>
          <%  })%>



        </div>
</div>
      </div>

      <div class="row">

          <h2 class="ui center aligned icon header">
          Jangan lupa di chackout ya <span class="ui huge blue label"><%= session.username %></span> ! <br/>
          dari pada dimarahi orang tersayang karena gak bawa buah tangan ? hayo lho...
        </h2>
      </div>
      <div class="row">
        <div class="ui text container">

        <div class="ui huge button"><a href="/">Lanjut belanja lagi</a></div>
        <div class="ui huge primary button">Checkout sekarang <i class="right arrow icon"></i></div>
      </div>
      </div>


    </div>
  </div>
  <% include ./partials/footer %>

</div>

</body>

</html>
